/* =================================
Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
  color: #525252;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: .95em;
  margin-bottom: 1.8em;
  margin-top: 0px;
  color: #7f7f7f
}
h1,
h2,
h3,
a {
  font-family: 'Miriam Libre', sans-serif;
}
h2,
h3,
.flywheel{
  margin-top: 0;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
nav {
  padding-top: .5em;
  padding-bottom: .5em;
}
/* =================================
Base Layout Styles
==================================== */

/* ---- Navigation ---- */

h1.name > a {
  margin: 0;
  color: #f4645f;
}
.wrapper {
  border-top: 7px solid #f4645f;
  background: #fafafa;
}
.name a,
.main-nav a,
.footer-menu a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}
.nav a,
.footer-menu a {
  font-size: .95em;
  color: #525252;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 15px;
  background-color: #fff;
}
.card a{
  font-size: 1.1em;
  color: #525252;
}
.card a:after {
  content: attr(title);
}
.card img{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1em;
}
.main-nav a:hover,
.footer-menu a:hover {
  color: #f4645f;
}
/* ---- Layout Containers ---- */


.main-header,
.contact,
.portfolio,
.skills {
  text-align: center;
}
.contact > span {
  margin-bottom: 1.2em;
}
.main-header {
  background: #fafafa;
  padding-bottom: 3em;
  padding-top: 3em;
  margin-bottom: 50px;
}
.card p, .contact p {
  padding: 0 2em;
  text-align: center;
}
.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #fafafa;
}
.name {
  color: #f4645f;
  font-weight: bold;
  align-self: center;
}
.footer-menu{
  display: none;
}
.footer-menu a {
  padding-right: 0px;
  margin-right: 0px;
}
.name {
  padding-left: 0px;
  margin-left: 0px;
}
.footer-links{
  display: flex;
}
/* ---- Page Elements ---- */

.profile-picture {
  width: 200px;
}
.contact {
  display: flex;
  flex-flow: column;
}
.contact > span > a,
.flywheel {
  color: #000;
  font-weight: bolder;
  padding-left: 5px;
}
/* =================================
Media Queries
==================================== */

@media (min-width: 769px) {
  .profile,
  .main-footer,
  .contact,
  .skills{
    width: 90%;
    margin: 0 auto;
  }
  .row,
  .main-nav,
  .profile,
  .nav{
    margin: 0 auto;
    display: flex;
  }
  .main-nav{
    flex-direction: column;
    align-items: center;
  }
  .main-footer {
    justify-content: space-between;
  }
  .nav a {
    background-color: transparent;
  }
  .col {
    flex: 1 50%;
  }
  .row {
    flex-wrap:wrap;
    width: 90%;
  }
  .row h3 {
    flex: 100%;
    margin: 2em;
  }
  .flywheel{
    display: none;
  }
  .footer-menu{
    display: flex;
  }
  col {
    flex: 1 50%;
  }
  .profile-picture {
    order: 2;
    height: 175px;
    width: auto;
  }
  .main-header p{
    font-size: 1.1em;
    text-align: left;
    padding-right: 10px;
  }
  .contact p{
    padding: 0 8em;
    font-size: 1.1em;
    margin-top: 0;
  }
  .card img{
    padding-right: 0px;
    padding-bottom: 1em;
  }
}
@media (min-width: 1025px) {
  .main-nav{
		flex-direction: row;
		justify-content: space-between;
	}
  .col{
    flex: 1 33%;
  }
  .main-nav,
	.row,
  .profile,
  .main-footer,
  .contact,
  .skills {
		width: 80%;
		max-width: 1150px;
	}
  .main-header p {
    font-size: 1.5em;
    padding-right: 4em;
  }
  ul.nav {
    margin-right: 0px;
  }
  .nav a {
    margin-right: 0px;
  }
  h1.name > a {
    padding-left: 0px;
  }
  .profile-picture {
    height: auto;
  }
  .contact p {
    padding: 0px 9em;
    font-size: 1.2em;
    letter-spacing: 2px;
  }
}
